Sphinx == 9.1.0
sphinx-rtd-theme == 3.1.0
recommonmark
myst-parser
# Dependencies for extras in `setup.py` needed for documentation.
matplotlib == 3.10
lmfit
# Dependencies needed for building the package
scikit-build >= 0.18.1
pybind11 >= 3.0.1
torch >= 2.9.1
torchvision
scipy
requests >= 2.32, <3
numpy
protobuf
mypy
