Sphinx == 9.1.0
sphinx-rtd-theme == 3.1.0
recommonmark
myst-parser
# Dependencies for extras in `setup.py` needed for documentation.
matplotlib == 3.10
lmfit
# Dependencies needed for building the package
mypy
