name: test-and-lint

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y ca-certificates libopenblas-dev gcc-9 g++-9
          sudo update-alternatives \
            --install /usr/bin/gcc gcc /usr/bin/gcc-9 60 \
            --slave /usr/bin/g++ g++ /usr/bin/g++-9

      - name: Build and install aihwkit wheel
        run: |
          pip install -r requirements.txt
          make build_inplace

      - name: Run pytest
        run: |
          pip install -r requirements-dev.txt
          make pytest
        env:
          TEST_DATASET: true

  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y ca-certificates libopenblas-dev gcc-9 g++-9
          sudo update-alternatives \
            --install /usr/bin/gcc gcc /usr/bin/gcc-9 60 \
            --slave /usr/bin/g++ g++ /usr/bin/g++-9

      - name: Build and install aihwkit wheel
        run: |
          pip install -r requirements.txt
          make build_inplace

      - name: Run lint checks
        run: |
          pip install -r requirements-dev.txt
          pip install -r requirements-examples.txt
          make pycodestyle
          make pylint
          make mypy
